  <title>Bootstrap Example</title>
  <meta charset="utf-8">


<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.con0tent {height: auto;} 
    }

#welcome {width: 30%;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 35%;
    margin-right: 30%;
}

#mobwel {
    width: 0%;
}


.navbar-brand {
    display: inline-block;
    background-color: ;
    font-family: Helvetica Neue;
}


.details {
    position: relative;
    width: 75%;
    padding-left: 20px;
    padding-right: px;
    float: left;
}
  </style>