{% extends "base_user.html" %}
{% load static %}

{% block css %}
    #content {margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 50px;
            }
    label {font-weight: bold;
        padding: 10px;}

    span.helptext {font-style: italic;
        padding: 10px;
        }

    p {width: 70vw;}

    form li {color: red;
        font-weight: bold;
        font-weight: 900;
    }

{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div id ="content">
    <h2>Create Project</h2>
    <hr>
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save"/ class="btn btn-secondary"> <a href="{% url 'allprojects' %}">Back to the list</a>
        </form>
    </div>
</div>

{% endblock %}